@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500|Roboto&display=swap&subset=cyrillic");
* {
  outline: 0;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif; }

.container {
  margin: 0vh 5vw 0vh; }

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  list-style-type: none; }

button {
  box-shadow: none;
  border: none;
  background: transparent;
  cursor: pointer; }

select {
  border: none;
  cursor: pointer; }

option {
  border: none;
  cursor: pointer;
  box-shadow: none; }

h1, h2, h3, h4, h5, h6 {
  margin-block-start: 0em;
  margin-block-end: 0em; }

a {
  text-decoration: none;
  color: inherit; }

input {
  border: none;
  box-shadow: none;
  font-family: 'Montserrat', sans-serif; }

.ycont {
  display: flex;
  flex-direction: column;
  max-width: 1170px;
  width: 100%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px; }

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative; }

.checkbox input[type="checkbox"] {
  display: none; }
  .checkbox input[type="checkbox"]:checked ~ .checkbox__custom::after {
    content: '\2713';
    color: #ffffff;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #054578; }

.checkbox__custom {
  position: relative;
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  border: 1px solid #000; }
  .checkbox__custom::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    transition: all linear 0.3s; }

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  background: #ffffff; }
  .navbar-left {
    display: flex;
    align-items: center;
    margin-right: 39px; }
    .navbar-left i {
      color: #054578; }
  .navbar-right {
    display: flex;
    align-items: center; }
  .navbar-logo {
    margin-left: 18px; }
  .navbar-title {
    white-space: nowrap;
    margin-left: 58px;
    margin-right: 55px;
    color: #054578;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.2px; }
  .navbar-btn__search {
    font-family: Montserrat;
    width: 72px;
    height: 40px;
    font-weight: 500;
    color: #0B253A;
    border: 1px solid #EAEAEA;
    background: #FFFFFF;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; }
  .navbar-input {
    width: 50vw;
    height: 40px;
    border: 1px solid #EAEAEA;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background: #FFFFFF;
    padding-left: 16px;
    padding-right: 50px;
    color: #A0A0A0;
    font-size: 14px; }
  .navbar-loupe {
    margin-left: -38px;
    color: #054578; }
  .navbar-profile__name {
    margin-left: 12px;
    color: #054578;
    font-size: 12px;
    font-weight: 500; }
  .navbar-icon__alerts {
    position: relative;
    margin-left: 42px; }
    @media (max-width: 1200px) {
      .navbar-icon__alerts {
        margin-left: 30px; } }
    .navbar-icon__alerts-active {
      position: absolute;
      top: -3px;
      right: 5px;
      height: 6px;
      width: 6px;
      border-radius: 50%;
      background: #007BDD; }
  .navbar-icon__tag {
    margin-left: 42px; }
    @media (max-width: 1200px) {
      .navbar-icon__tag {
        margin-left: 30px; } }
  .navbar-icon__profile {
    margin-left: 42px;
    width: 28px;
    height: 28px;
    background: #007BDD;
    border-radius: 50%; }
    @media (max-width: 1200px) {
      .navbar-icon__profile {
        margin-left: 30px; } }
  .navbar-modal__alerts {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.25);
    z-index: 2;
    top: 60px;
    right: 170px;
    width: 356px;
    height: auto;
    border-radius: 4px;
    position: absolute;
    background: #fff; }
  .navbar-modal__title {
    padding: 0 16px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #696D86;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.2px;
    border-bottom: 1px solid #E5E5E5; }
  .navbar-modal__item {
    min-height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    font-size: 12px;
    letter-spacing: 0.004em;
    color: #303030; }
  .navbar-modal__txt {
    width: 80%; }
    .navbar-modal__txt .status {
      font-size: 8px;
      color: #17AB1D; }

.form-create {
  z-index: 6;
  position: relative;
  width: 786px;
  height: 396px;
  background: #FFFFFF;
  box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.04);
  border-radius: 4px; }
  .form-create_input {
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    color: #A0A0A0; }
  .form-create__title {
    height: 60px;
    padding: 0 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    border-bottom: 1px solid #E8E8E8; }
  .form-create__close {
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 10px; }
    .form-create__close span {
      position: absolute;
      width: 15px;
      height: 1px;
      background: #000000; }
      .form-create__close span:first-child {
        transform: rotate(45deg); }
      .form-create__close span:last-child {
        transform: rotate(-45deg); }
  .form-create__tabs {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E8E8E8; }
  .form-create__tab {
    text-align: center;
    width: 25%;
    color: rgba(105, 109, 134, 0.5);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 47px; }
    .form-create__tab-active {
      font-weight: 500;
      color: #007BDD;
      border-bottom: 2px solid #007BDD; }
  .form-create__content {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px; }
  .form-create__info {
    justify-content: space-between;
    flex-wrap: wrap; }
    .form-create__info-input {
      font-weight: 500;
      font-size: 12px;
      color: #A0A0A0;
      padding-left: 15px;
      width: 365px;
      height: 40px;
      background: #FFFFFF;
      border: 1px solid #EAEAEA;
      border-radius: 4px;
      margin-right: 16px;
      margin-bottom: 16px; }
    .form-create__info-textarea {
      font-family: Montserrat;
      font-weight: 500;
      font-size: 12px;
      color: #A0A0A0;
      padding-left: 15px;
      padding-top: 10px;
      margin-right: 16px;
      resize: none;
      width: calc( 100% - 20px);
      height: 72px; }
  .form-create__next {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 201px;
    height: 40px;
    background: #007BDD;
    border-radius: 4px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500; }
    .form-create__next i {
      margin-left: 10px;
      font-size: 16px; }
  .form-create__mode {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .form-create__mode-time span {
      padding: 0 5px; }
    .form-create__mode-title {
      margin-bottom: 6px; }
    .form-create__mode-item {
      position: relative;
      margin-bottom: 20px;
      width: 30%;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.2px;
      color: #6B7883; }
    .form-create__mode-input {
      width: 82px;
      height: 40px;
      border: 1px solid #EAEAEA;
      border-radius: 4px;
      font-size: 12px;
      font-weight: 500;
      color: #303030;
      text-align: center; }
    .form-create__mode-delete {
      position: absolute;
      cursor: pointer;
      margin-top: 10px;
      left: 40px;
      color: #DC6060;
      font-size: 12px;
      font-weight: 300;
      line-height: 15px; }
  .form-create__contact {
    display: flex;
    justify-content: center; }
    .form-create__contact-input {
      width: 365px;
      height: 40px;
      padding-left: 15px;
      margin-right: 16px;
      border: 1px solid #EAEAEA;
      border-radius: 4px; }
    .form-create__contact-subline {
      color: #007BDD;
      font-size: 12px;
      margin-top: 10px;
      cursor: pointer; }
      .form-create__contact-subline i {
        margin-right: 8px; }
  .form-create__social {
    flex-direction: column; }
    .form-create__social-input {
      width: 365px;
      height: 40px;
      padding-left: 15px; }
    .form-create__social-subline {
      color: #007BDD;
      font-size: 12px;
      margin-top: 10px;
      cursor: pointer; }
      .form-create__social-subline i {
        margin-left: 10px;
        margin-right: 5px;
        font-size: 16px; }
    .form-create__social-items {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 20px;
      margin-right: 16px; }
    .form-create__social-item {
      width: 365px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #3C3C3C;
      font-weight: 500;
      font-size: 12px;
      margin-bottom: 16px; }
      .form-create__social-item i {
        color: #999999;
        font-size: 24px;
        margin-right: 10px; }
      .form-create__social-item img {
        width: 100%;
        margin-right: 10px; }
      .form-create__social-item span {
        margin-top: 0; }
    .form-create__social-title {
      display: flex;
      align-items: center; }
  .form-create__item {
    display: none; }
    .form-create__item-active {
      display: flex; }

.content {
  background: rgba(255, 255, 255, 0.4);
  min-height: calc( 100vh - 72px);
  height: 100%;
  width: 100%;
  background: #E5E5E5; }
  .content-main {
    height: 100%; }
  .content-control {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 34px;
    padding: 10px 0; }
    .content-control__add {
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 5;
      position: fixed;
      width: 100%;
      height: 100%;
      background: rgba(101, 109, 120, 0.45);
      backdrop-filter: blur(12px); }
    .content-control__create {
      width: 230px;
      height: 40px;
      background: #007BDD;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 12px;
      margin-right: 10px;
      font-weight: 500; }
      .content-control__create span {
        margin-right: 10px; }
      .content-control__create i {
        font-size: 16px; }
    .content-control__toggle {
      padding: 0 10px;
      background: #E0F0FD;
      border-radius: 4px;
      width: 201px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center; }
  .content-table {
    position: relative;
    height: calc( 100% - 90px);
    margin-right: 34px;
    margin-left: 86px;
    padding-bottom: 23px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.4); }
    .content-table__up {
      height: 60px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #EAEAEA; }
    .content-table__items {
      padding-bottom: 70px; }
    .content-table__column {
      font-size: 14px;
      letter-spacing: 0.2px;
      color: #696D86;
      font-weight: 500; }
    .content-table__checkbox {
      margin-left: 30px;
      width: 2%; }
      .content-table__checkbox .checkbox__custom {
        border: 1px solid #BFBFBF; }
    .content-table__sort {
      width: 6%;
      display: flex;
      justify-content: center; }
      .content-table__sort i {
        opacity: 0.5; }
    .content-table__name {
      width: 35%;
      font-weight: 500;
      color: #002E5C; }
    .content-table__address {
      width: 20%; }
    .content-table__type {
      width: 25%; }
    .content-table__action {
      width: 5%;
      display: flex;
      justify-content: center; }
    .content-table__favorites {
      width: 5%;
      display: flex;
      justify-content: center; }
      .content-table__favorites i {
        color: #007BDD; }
    .content-table__delete i {
      opacity: 0.5; }
    .content-table__item {
      display: flex;
      align-items: center;
      height: 94px;
      border-bottom: 1px solid #EAEAEA;
      font-size: 14px;
      color: #34495E;
      letter-spacing: 0.2px; }
    .content-table__call {
      width: 42px;
      height: 42px;
      background: #51C569;
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .content-table__call i {
        font-size: 25px;
        color: #FFFFFF; }
    .content-table__breadcumbs {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 30px;
      right: 31px;
      font-family: 'Roboto', sans-serif;
      color: #9FA2B4;
      font-size: 14px; }
      .content-table__breadcumbs #amount_page {
        background: transparent;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        width: 30px;
        margin-right: 80px; }
    .content-table__prev {
      margin-left: 33px; }
    .content-table__prev, .content-table__next {
      font-size: 20px;
      color: #9FA2B4; }

.menu {
  width: 74px;
  position: fixed;
  z-index: 4; }
  .menu-full {
    display: none;
    z-index: 4;
    position: absolute;
    width: 260px; }
    .menu-full__active {
      display: block;
      transition: .3s all ease-in-out; }
    .menu-full__settings {
      margin-top: 25px; }
    .menu-full__users {
      padding: 30px 0;
      display: flex;
      justify-content: space-around; }
  .menu-up {
    height: 590px;
    width: 100%;
    background: #054578; }
    .menu-up__orders {
      color: #3273A7; }
    .menu-up__user {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 40px; }
    .menu-up__settings {
      margin-top: 50px; }
  .menu-down {
    height: 180px;
    width: 100%;
    background: #1b5482; }
    .menu-down .menu-item {
      padding: 20px 0px 20px 29px; }
  .menu-item {
    cursor: pointer;
    padding: 25px 0px 25px 29px;
    display: flex;
    align-items: center;
    color: #3273A7; }
    .menu-item__txt {
      margin-left: 30px; }
      .menu-item__txt-user {
        font-size: 10px;
        margin-left: 0; }
    .menu-item__active {
      color: #ffffff; }
  .menu-svg__active {
    color: #ffffff;
    -webkit-text-fill-color: #ffffff; }

.signal-full {
  color: #17AB1D;
  font-size: 30px; }

.signal-middle {
  color: #AB8A17;
  font-size: 30px; }

.signal-low {
  color: #AB2917;
  font-size: 30px; }

.btn-chat {
  z-index: 3;
  bottom: 20px;
  right: 20px;
  position: fixed;
  width: 40px;
  height: 40px;
  background: #007BDD;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  cursor: pointer; }
  .btn-chat::before {
    position: absolute;
    top: -3px;
    right: 8px;
    content: '';
    width: 12px;
    height: 12px;
    background: #AB2917;
    border-radius: 50%; }
  .btn-chat::after {
    position: absolute;
    top: -3px;
    right: 0;
    content: '';
    width: 12px;
    height: 12px;
    background: #17AB1D;
    border-radius: 50%; }

.btn-toggle {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #BCBCBC;
  height: 28px;
  padding: 0 20px;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 500; }
  .btn-toggle__active {
    transition: .1s all ease-in-out;
    padding: 0 10px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    color: #1E3E58; }

.btn-delete {
  position: absolute;
  left: 104px;
  width: 40px;
  height: 40px;
  background: #FFDADA;
  border-radius: 4px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  .btn-delete i {
    color: #DC6060;
    font-weight: 500; }
  .btn-delete__active {
    display: flex;
    transition: .3s ease-in-out; }

/*# sourceMappingURL=style.css.map */
