@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500|Roboto&display=swap&subset=cyrillic')
// Mixin
@mixin center__position 
	position: absolute
	top: 50%
	left: 50%
	margin-right: -50%
	transform: translate(-50%, -50%)

*
	outline: 0
	box-sizing: border-box

body 
	margin: 0
	padding: 0
	font-family: 'Montserrat', sans-serif
	
.container 
	margin: 0vh 5vw 0vh

ul
	margin-block-start: 0
	margin-block-end: 0
	padding-inline-start: 0
	list-style-type: none

button 
	box-shadow: none
	border: none
	background: transparent
	cursor: pointer

select 
	border: none
	cursor: pointer

option 
	border: none
	cursor: pointer
	box-shadow: none

h1,h2,h3,h4,h5,h6  
	margin-block-start: 0em
	margin-block-end: 0em

a 
	text-decoration: none
	color: inherit

input 
	border: none
	box-shadow: none
	font-family: 'Montserrat', sans-serif

.ycont 
	display: flex
	flex-direction: column
	max-width: 1170px
	width: 100%
	position: relative
	padding-left: 15px
	padding-right: 15px

.wrapper 
	width: 100%
	display: flex
	justify-content: center
	position: relative

.checkbox
	& input[type="checkbox"]
		display: none
		&:checked~.checkbox__custom::after
			content: '\2713'
			color: #ffffff
			font-size: 10px
			display: flex
			justify-content: center
			align-items: center
			background-color: #054578
	&__custom
		position: relative
		display: block
		width: 18px
		height: 18px
		border-radius: 2px
		border: 1px solid #000
		&::after
			content: ''
			position: absolute
			top: 0px
			left: 0px
			right: 0px
			bottom: 0px
			transition: all linear 0.3s

.navbar
	display: flex
	align-items: center
	justify-content: space-between
	height: 72px
	background: #ffffff
	&-left
		display: flex
		align-items: center
		margin-right: 39px
		& i
		   color: #054578 
	&-right
		display: flex
		align-items: center
	&-logo
		margin-left: 18px
	&-title
		white-space: nowrap
		margin-left: 58px
		margin-right: 55px
		color: #054578
		font-weight: 600
		font-size: 20px
		letter-spacing: 0.2px
	&-btn
		&__search
			font-family: Montserrat
			width: 72px
			height: 40px
			font-weight: 500
			color: #0B253A
			border: 1px solid #EAEAEA
			background: #FFFFFF
			border-top-right-radius: 0px
			border-bottom-right-radius: 0px
			border-top-left-radius: 4px 
			border-bottom-left-radius: 4px
	&-input
		width: 50vw
		height: 40px
		border: 1px solid #EAEAEA
		border-top-right-radius: 4px
		border-bottom-right-radius: 4px
		border-top-left-radius: 0px 
		border-bottom-left-radius: 0px
		background: #FFFFFF
		padding-left: 16px
		padding-right: 50px
		color: #A0A0A0
		font-size: 14px
		
	&-loupe
		margin-left: -38px
		color: #054578
	&-profile__name
		margin-left: 12px
		color: #054578
		font-size: 12px
		font-weight: 500
	&-icon
		&__alerts
			position: relative
			margin-left: 42px
			@media (max-width: 1200px)
				margin-left: 30px
			&-active
				position: absolute
				top: -3px
				right: 5px
				height: 6px
				width: 6px
				border-radius: 50%
				background: #007BDD
		&__tag
			margin-left: 42px
			@media (max-width: 1200px)
				margin-left: 30px
		&__profile
			margin-left: 42px
			width: 28px
			height: 28px
			background: #007BDD
			border-radius: 50%
			@media (max-width: 1200px)
				margin-left: 30px
	&-modal
		&__alerts
			box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.25)
			z-index: 2
			top: 60px
			right: 170px
			width: 356px
			height: auto
			border-radius: 4px
			position: absolute
			background: #fff
			
		&__title
			padding: 0 16px
			height: 48px
			display: flex
			justify-content: space-between
			align-items: center
			color: #696D86
			font-weight: 500
			font-size: 14px
			letter-spacing: 0.2px
			border-bottom: 1px solid #E5E5E5
		&__item
			min-height: 48px
			display: flex
			justify-content: space-between
			align-items: center
			padding: 0 16px
			font-size: 12px
			letter-spacing: 0.004em
			color: #303030
		&__txt
			width: 80%
			& .status
				font-size: 8px
				color: #17AB1D
		

		
.form-create
	z-index: 6
	position: relative
	width: 786px
	height: 396px
	background: #FFFFFF
	box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.04)
	border-radius: 4px
	&_input
		background: #FFFFFF
		border: 1px solid #EAEAEA
		border-radius: 4px
		font-weight: 500
		font-size: 12px
		color: #A0A0A0
	&__title
		height: 60px
		padding: 0 22px
		display: flex
		justify-content: space-between
		align-items: center
		font-weight: 500
		font-size: 16px
		border-bottom: 1px solid #E8E8E8
	&__close
		position: relative
		width: 20px
		height: 20px
		margin-right: 10px
		& span
			position: absolute
			width: 15px
			height: 1px
			background: #000000
			&:first-child
				transform: rotate(45deg)
			&:last-child
				transform: rotate(-45deg)
	&__tabs		
		display: flex
		align-items: center
		border-bottom: 1px solid #E8E8E8
	&__tab
		text-align: center
		width: 25%
		color: rgba(105, 109, 134, 0.5)
		font-weight: 500
		font-size: 14px
		letter-spacing: 0.2px
		line-height: 47px
		&-active
			font-weight: 500
			color: #007BDD
			border-bottom: 2px solid #007BDD
	&__content
		padding-top: 16px
		padding-bottom: 16px
		padding-left: 16px
		
	&__info
		justify-content: space-between
		flex-wrap: wrap
		&-input
			font-weight: 500
			font-size: 12px
			color: #A0A0A0
			padding-left: 15px
			width: 365px
			height: 40px
			background: #FFFFFF
			border: 1px solid #EAEAEA
			border-radius: 4px
			margin-right: 16px
			margin-bottom: 16px
		&-textarea
			font-family: Montserrat
			font-weight: 500
			font-size: 12px
			color: #A0A0A0
			padding-left: 15px
			padding-top: 10px
			margin-right: 16px
			resize: none
			width: calc( 100% - 20px )
			height: 72px
	&__next
		position: absolute
		bottom: 20px
		right: 20px
		width: 201px
		height: 40px
		background: #007BDD
		border-radius: 4px
		color: #ffffff
		text-transform: uppercase
		font-size: 12px
		font-weight: 500
		& i
			margin-left: 10px
			font-size: 16px
	
	&__mode
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		&-time
			& span
				padding: 0 5px
		&-title
			margin-bottom: 6px
		&-item
			position: relative
			margin-bottom: 20px
			width: 30%
			font-size: 12px
			font-weight: 500
			letter-spacing: 0.2px
			color: #6B7883
		&-input
			width: 82px
			height: 40px
			border: 1px solid #EAEAEA
			border-radius: 4px
			font-size: 12px
			font-weight: 500
			color: #303030
			text-align: center
		&-delete
			position: absolute
			cursor: pointer
			margin-top: 10px
			left: 40px
			color: #DC6060
			font-size: 12px
			font-weight: 300
			line-height: 15px
			
	&__contact
		display: flex
		justify-content: center
		&-input
			width: 365px
			height: 40px
			padding-left: 15px
			margin-right: 16px
			border: 1px solid #EAEAEA
			border-radius: 4px
		&-subline
			color: #007BDD
			font-size: 12px
			margin-top: 10px
			cursor: pointer
			& i 
				margin-right: 8px
	&__social
		flex-direction: column
		&-input
			width: 365px
			height: 40px
			padding-left: 15px
		&-subline
			color: #007BDD
			font-size: 12px
			margin-top: 10px
			cursor: pointer
			& i 
				margin-left: 10px
				margin-right: 5px
				font-size: 16px
		&-items
			display: flex
			justify-content: space-between
			flex-wrap: wrap
			margin-top: 20px
			margin-right: 16px
		&-item
			width: 365px
			display: flex
			justify-content: space-between
			align-items: center
			color: #3C3C3C
			font-weight: 500
			font-size: 12px
			margin-bottom: 16px
			& i
				color: #999999
				font-size: 24px
				margin-right: 10px
			& img
				width: 100%
				margin-right: 10px
			& span
				margin-top: 0
		&-title
			display: flex
			align-items: center

	&__item
		display: none
		&-active
			display: flex
				
		
.content
	background: rgba(255, 255, 255, 0.4)
	min-height: calc( 100vh - 72px )
	height: 100%
	width: 100%
	background: #E5E5E5
	&-main
		height: 100%
	&-control
		display: flex
		justify-content: flex-end
		align-items: center
		margin-right: 34px
		padding: 10px 0
		&__add
			display: flex
			justify-content: center
			align-items: center
			z-index: 5
			position: fixed
			width: 100%
			height: 100%
			background: rgba(101, 109, 120, 0.45)
			backdrop-filter: blur(12px)
		&__create
			width: 230px
			height: 40px
			background: #007BDD
			border-radius: 4px
			display: flex
			justify-content: center
			align-items: center
			color: #ffffff
			text-transform: uppercase
			font-size: 12px
			margin-right: 10px
			font-weight: 500
			& span
				margin-right: 10px
			& i
				font-size: 16px
		&__toggle
			padding: 0 10px
			background: #E0F0FD
			border-radius: 4px
			width: 201px
			height: 40px
			display: flex
			justify-content: center
			align-items: center
				
				
	&-table
		position: relative
		min-height: 
		height: calc( 100% - 90px )
		margin-right: 34px
		margin-left: 86px
		padding-bottom: 23px
		border-radius: 4px
		background: rgba(255, 255, 255, 0.4)
		&__up
			height: 60px
			display: flex
			align-items: center
			border-bottom: 1px solid #EAEAEA
		&__items
			padding-bottom: 70px
		&__column
			font-size: 14px
			letter-spacing: 0.2px
			color: #696D86
			font-weight: 500
		&__checkbox
			margin-left: 30px
			width: 2%
			& .checkbox__custom
				border: 1px solid #BFBFBF
		&__sort
			width: 6%
			display: flex
			justify-content: center
			& i
				
				opacity: 0.5
		&__name
			width: 35%
			font-weight: 500
			color: #002E5C
		&__address
			width: 20%
		&__type
			width: 25%
		&__action
			width: 5%
			display: flex
			justify-content: center
		&__favorites
			width: 5%
			display: flex
			justify-content: center
			& i 
				color: #007BDD
			&-active
		&__delete
			
			& i
				opacity: 0.5
				
		&__items
			
		&__item
			display: flex
			align-items: center
			height: 94px
			border-bottom: 1px solid #EAEAEA
			font-size: 14px
			color: #34495E
			letter-spacing: 0.2px
			
		&__call
			width: 42px
			height: 42px
			background: #51C569
			box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12)
			border-radius: 4px
			display: flex
			justify-content: center
			align-items: center
			& i
				font-size: 25px
				color: #FFFFFF 
				
		&__breadcumbs
			display: flex
			align-items: center
			position: absolute
			bottom: 30px
			right: 31px
			font-family: 'Roboto', sans-serif
			color: #9FA2B4
			font-size: 14px
			& #amount_page
				background: transparent
				font-family: 'Roboto', sans-serif
				font-size: 14px
				width: 30px
				margin-right: 80px
		&__prev
			margin-left: 33px
		&__prev,&__next
			font-size: 20px
			color: #9FA2B4
.menu
	width: 74px
	position: fixed
	z-index: 4
	&-full
		display: none
		z-index: 4
		position: absolute
		width: 260px
		&__active
			display: block
			transition: .3s all ease-in-out
		&__settings
			margin-top: 25px
		&__users
			padding: 30px 0
			display: flex
			justify-content: space-around
	&-up
		height: 590px
		width: 100%
		background: #054578
		&__orders
			color: #3273A7
		&__users
			
		&__user
			display: flex
			flex-direction: column
			align-items: center
			justify-content: space-between
			height: 40px
		&__settings
			margin-top: 50px		
	&-down
		height: 180px
		width: 100%
		background: #1b5482
		& .menu-item
			padding: 20px 0px 20px 29px
	&-item
		cursor: pointer
		padding: 25px 0px 25px 29px
		display: flex
		align-items: center
		color: #3273A7
		&__txt
			margin-left: 30px
			&-user
				font-size: 10px
				margin-left: 0
		&__active
			color: #ffffff
	&-svg
		&__active
			color: #ffffff
			-webkit-text-fill-color: #ffffff
	
.signal
	&-full
		color: #17AB1D
		font-size: 30px
	&-middle
		color: #AB8A17
		font-size: 30px
	&-low
		color: #AB2917
		font-size: 30px
.btn
	&-chat
		z-index: 3
		bottom: 20px
		right: 20px
		position: fixed
		width: 40px
		height: 40px
		background: #007BDD
		border-radius: 50%
		display: flex
		justify-content: center
		align-items: center
		color: #ffffff
		cursor: pointer
		&::before
			position: absolute
			top: -3px
			right: 8px
			content: ''
			width: 12px
			height: 12px
			background: #AB2917
			border-radius: 50%
		&::after
			position: absolute
			top: -3px
			right: 0
			content: ''
			width: 12px
			height: 12px
			background: #17AB1D
			border-radius: 50%
	&-toggle
		width: 50%
		display: flex
		justify-content: center
		align-items: center
		color: #BCBCBC
		height: 28px
		padding: 0 20px
		font-size: 14px
		font-family: Montserrat
		font-weight: 500
		&__active
			transition: .1s all ease-in-out
			padding: 0 10px
			background: #FFFFFF
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.06)
			border-radius: 4px
			color: #1E3E58
	&-delete
		position: absolute
		left: 104px
		width: 40px
		height: 40px
		background: #FFDADA
		border-radius: 4px
		display: none
		justify-content: center
		align-items: center
		cursor: pointer
		& i 
			color: #DC6060
			font-weight: 500
		&__active
			display: flex
			transition: .3s ease-in-out